@page "/management"
@using HotelProject.Data
@using HotelProject.Service
@rendermode InteractiveServer
@inject RoomService RoomService

<PageTitle>Hotel Management</PageTitle>

@if (rooms == null)
{
    <p><em>Loading...</em></p>
}
else if (rooms.Count == 0)
{
    <p>No available rooms at the moment.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Rom ID</th>
                <th>Rom Nummer</th>
                <th>Rom Type</th>
                <th>Pris per natt</th>
                <th>Ledig?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in rooms)
            {
                <tr>
                    <td>@room.Id</td>
                    <td>@room.Romnummer</td>
                    <td>@room.RomKvalitet</td>
                    <td>@room.AntallSenger</td>
                    <td>@room.ErLedig</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Rooms> rooms;
    private List<Rooms> avalibleRooms;

    protected override async Task OnInitializedAsync()
    {
        avalibleRooms = await RoomService.GetAvailableRoomsAsync();
        rooms = await RoomService.GetAllRooms();
    }
}